@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Shadows+Into+Light&display=swap&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-theme-neutral;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* cursor: url('images/cursor.png'), auto; */
    
    counter-reset: linenumber;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    font-family: 'Roboto Flex', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Space Code Pro", monospace;
    font-optical-sizing: auto;
    letter-spacing: -2px;
}

.turquoise:hover {
    box-shadow: 0 0 10px 5px #48ede780;
}
.purple:hover {
    box-shadow: 0 0 10px 5px #e46eed80;
}
.orange:hover {
    box-shadow: 0 0 10px 5px #FF840080;
}
.red:hover {
    box-shadow: 0 0 10px 5px #FF484880;
}
.green:hover {
    box-shadow: 0 0 10px 5px #B9FF3380;
}
.blue:hover {
    box-shadow: 0 0 10px 5px #3E9FFF80;
}

.ws-10 {
    word-spacing: -10px;
}

.ws-15{
    word-spacing: -15px;  
}
@media screen and (max-width: 768px){
    .ws-15{
        word-spacing: 0px;  
    }   
}
.ws-20{
    word-spacing: -20px;
}

#tsparticles{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#root,
#__next {
    isolation: isolate;
}

.nav-fade{
    background: rgb(13,22,29);
    background: linear-gradient(180deg, rgba(13,22,29,1) 0%, rgba(13,22,29,0.7987570028011204) 20%, rgba(13,22,29,0.6026785714285714) 40%, rgba(13,22,29,0.4009978991596639) 60%, rgba(13,22,29,0.19931722689075626) 80%, rgba(13,22,29,0) 100%);
}

.link-hover:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300a2f9' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}


.line-number::after {
    color: #3b3553;
    content: counter(linenumber, decimal-leading-zero);
    font-family: Roboto Mono, Courier New, Courier, monospace !important;
    font-size: 16px;
    left: -60px;
    line-height: 1.6;
    position: absolute;
    top: 0;
    z-index: 3;
    counter-increment: linenumber;
}

.line-number:hover::after {
    color: white;
    /* Change the color to white on hover */
}

@keyframes cursorFadeInOut {

    0%,
    100% {
        opacity: 0;
        /* Cursor is invisible at the beginning and end */
    }

    50% {
        opacity: 1;
        /* Cursor is fully visible in the middle of the animation */
    }
}

.cursor {
    display: inline-block;
    width: 1px;
    /* Adjust the width and height to your desired cursor size */
    height: 16px;
    /* Adjust the width and height to your desired cursor size */
    background-color: #000;
    /* Cursor color */
    animation: cursorFadeInOut 1s ease-in-out infinite;
    /* Adjust animation duration as needed */
}

.row-highlight:hover::before {
    content: "";
    width: 300%;
    background-color: #16131e;
    /* Adjust the background color to your desired highlight color */
    position: absolute;
    top: 0;
    left: -100%;
    /* Shift the pseudo-element to the left to cover the row */
    height: 100%;
    z-index: -1;
    /* Place it below the row content */
    opacity: 0.5;
    /* Adjust the opacity to control the highlight intensity */
}

.background {
    background: rgb(13, 11, 18);

}

.err {
    display: inline-block;
    position: relative;

}

.err:after {
    content: '';
    width: 100%;
    border-bottom: 2px dotted red;
    position: absolute;
    font-size: 18px;
    top: 25px;
    left: 0px;
    display: block;
    height: 4px;
}

.animate-slide {
    display: flex;
    width: 200%; /* Adjusted to accommodate duplication of gradient lines */
    position: relative;
    animation: slide 15s linear infinite;
}

@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.journey-move{
    margin-right: -4em;
}
@media screen and (max-width: 1660px){
    .journey-move{
        margin-right: 0em;
    }
}    